.item-text {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
  height: 2.1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
          line-clamp: 2; 
  -webkit-box-orient: vertical;
}

.item-delete{
  height: 15px;
  width: 15px;
  padding: 5px;
}

.item-delete:hover{
  cursor: pointer;
}

.item-top{
  display: flex;
  justify-content: space-between;
}

.item-claimed {
  font-size: 1.2em;
  color: green;
  margin-bottom: 10px;
}

.item-picture {
  max-width: 200px;
  max-height: 200px;
}

.picture-holder{
  min-height: 200px;
  height: 200px;
  max-height: 200px;
}

.item {
  border: 3px solid darkgrey;
  margin: 10px;
  background-color: lightgrey;
  border-radius: 10px;
  width: min-content;
  padding: 10px;
  width: 225px;
  height: 325px;
  display: flex;
  flex-direction: column;
}