.item-text {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.item-claimed {
  font-size: 1.2em;
  color: green;
  margin-bottom: 10px;
}

.item-picture {
  max-width: 200px;
  max-height: 200px;
}

.item {
  border: 3px solid orange;
  margin: 10px;
  background-color: darkgrey;
  width: min-content;
  padding-left: 10px;
  padding-right: 10px;
}