.signup {
  display: flex;
  justify-content: space-evenly;
}

.signup-contents {
  margin:10px;
  font-size: 1.5rem;
}

.error{
  color: red;
}

.to-login{
  background-color: white;
  width: 300px;
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 100px;
}

.to-login:hover{
  background-color: lightgrey;
}

.signup-left{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}