h1{
  font-size: 3rem;
}

a{
  text-decoration: none;
  color: black;
}

.login-info{
  background-image: url("../../assets/school_bg.jpeg");
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  flex-direction: row;
  gap: 50px;
  padding: 50px;
  min-height: 390px;
}

.login-button{
  width: 200px;
  display: flex;
  justify-content: center;
  border-radius: 100px;
  background-color: orange;
  padding-top: 5px;
  padding-bottom: 5px;
}

.login-button:hover{
  width: 210px;
  background-color: #b86406;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-buttons{
  color: black;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  max-width: 500px;
  width: 100%;
  height: 205px;
}

.bottom-links{
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  padding: 10px;
}

.bottom-link{
  background-color: lightgrey;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 400px;
  height: 100%;
  padding: 2px;
}

.bottom-link:hover{
  background-color: #a1a1a1;
  cursor: pointer;
}

.bottom-img{
  max-width: 100px;
  max-height: 100px;
}

@media (max-width: 1200px) {
  .login-info{
    flex-direction: column;
  }
}