body{
  margin: 0px;
}

.app-content{
  margin-left: 5px;
  margin-right: 5px;
  font-family: "Arial";
}

.center{
  display: flex;
  justify-content: center;
}

.center.column{
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
}