body{
  margin: 0px;
}

.app-content{
  margin: 5px;
  font-family: "Arial";
}

.center{
  display: flex;
  justify-content: center;
  text-align: center;
}

.center.column{
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
}